.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid black; */
    padding: 20px;
    font-size: 20px;
    background-color: white;
    max-height: 25px;

}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}



.right{
    display: flex;
    flex-direction: row;    
}

.right>button{
    margin: 0px 10px;
    transition: 
    color 0.5s ease-out,
    font-size 0.5s ease-out;
}

.right>button:hover{
    color: blue;
    font-size: 21px;
}



