.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid black; */
    padding: 20px;
    font-size: 20px;
    background-color: #ECF0F3;
    max-height: 25px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid black;
    margin-bottom: 50px;

}

a{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: none;
}



.right{
    display: flex;
    flex-direction: row;    
}

.right>a{
    margin: 0px 10px;
    transition: 
    color 0.5s ease-out,
    font-size 0.5s ease-out;
}

.right>a:hover{
    color: blue;
    font-size: 21px;
}

@media screen and (max-width: 600px)
{
  .header{
    font-size: small;
    gap: 50px;
  }
}



