body{
    background-color: #ECF0F3;
    
}

html{
    scroll-behavior: smooth;
}


.container{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.greeting{
    margin-bottom: 15px;
    font-size: larger;
    font-family: sans-serif;
}

.name{
    color: black;
    font-size: 32px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}

.about{
    max-width: 800px;
    display: flex;
    text-align: center;
    font-size: large;
}