img{
    height: 80px;
    width: 80px;
    
}

.skillsContainer{
    padding-top: 50px;
    margin-bottom: 100px;
}

.title{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 32px;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    
    /* grid-template-columns: repeat(4, 200px); */
    gap: 20px 50px;
    justify-content: center;
    background-color: #ECF0F3;
    margin-left: 290px;
    margin-right: 290px;

    
}

.skill{
    width: 150px;
    background-color: #ECF0F3;
    box-shadow: 0px 0px 0px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border:1px solid black; */
    padding: 10px;
    transition: all 0.4s ease-in;
    gap: 5px;
    
}

.skill:hover{
    box-shadow: -10px 10px 14px rgb(0, 42, 255);
    transform: translateY(-8px);
}

.skill>div{
    font-weight: 600;
}

